.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
  font-style: bold;
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  height: 10vh;
}
.content-container {
  display: flex;
  flex: 1;
}
.sidebar {
  background-color: green;
  color: white;
  padding: 10px;
  width: 150px;
}
.main-content {
  background-color: green;
  flex: 1;
}
.footer {
  background-color: blue;
  color: white;
  height: 15vh;
}
